.favorites-page > .favorites-header {
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 14px;
}

.favorites-page > .favorites-header > .thumbnail {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin-right: 16px;
    background-color: var(--bg-color-secondary);
}

.favorites-page > .favorites-header > .thumbnail > .thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

.favorites-page > .favorites-header > .thumbnail > .fallback-thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: var(--bg-color-tertiary);
}

.favorites-page > .favorites-header > .thumbnail > .fallback-thumbnail > svg {
    color: var(--brand-color);
    opacity: 0.8;
}

.favorites-page > .favorites-header > .favorites-details {
    flex: 1;
}

.favorites-page > .favorites-header > .favorites-details > .title {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 4px;
}

.favorites-page > .favorites-header > .favorites-details > .stats {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--font-color-tertiary);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.favorites-page > .favorites-header > .favorites-details > .stats > .track-amount > .number {
    font-weight: 600;
    letter-spacing: 0.5px;
}

.favorites-page > .favorites-header > .favorites-details > .stats > .divider {
    width: 2px;
    height: 2px;
    margin: 0 4px;
    margin-top: 2px;
    border-radius: 50%;
    background-color: var(--font-color-tertiary);
}

.favorites-page > .favorites-header > .favorites-details > .stats > .length > .number {
    font-weight: 600;
    letter-spacing: 0.5px;
}

.favorites-page > .favorites-header > .favorites-details > .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.favorites-page > .favorites-header > .favorites-details > .actions > .primary {
    display: flex;
    align-items: center;
    gap: 6px;
}

.favorites-page > .favorites-header > .favorites-details > .actions > .primary > .play-playlist {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 6px 11px;
    border-radius: 6px;
    background-color: var(--bg-color-secondary);
    transition: background-color 0.2s ease-out;
}

.favorites-page > .favorites-header > .favorites-details > .actions > .primary > .play-playlist:hover {
    background-color: var(--bg-color-tertiary);
}

.favorites-page > .favorites-header > .favorites-details > .actions > .primary > .play-playlist > .play-icon {
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 6px;
    background-color: var(--brand-color);
    mask-repeat: no-repeat;
    mask-image: url(/play.fill.svg);
}

.favorites-page > .favorites-header > .favorites-details > .actions > .primary > .play-playlist > .text {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--brand-color);
}

.favorites-page > .favorites-header > .favorites-details > .actions > .secondary {
    display: flex;
    align-items: center;
}

.favorites-page > .favorites-header > .favorites-details > .actions > .secondary > .input_container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--bg-color-secondary);
}

.favorites-page > .favorites-header > .favorites-details > .actions > .secondary > .input_container > input {
    font-size: 0.7rem;
    font-weight: 500;
    width: 100%;
    max-width: 112px;
    padding: 7px 0 7px 28px;
    background-color: rgba(0, 0, 0, 0);
    text-overflow: ellipsis;
}

.favorites-page > .favorites-header > .favorites-details > .actions > .secondary > .input_container > .search-icon {
    position: absolute;
    left: 8px;
    pointer-events: none;
    fill: var(--font-color-tertiary);
}

.favorites-page > .favorites-header > .favorites-details > .actions > .secondary > .input_container > .search-clear {
    position: absolute;
    left: 0;
    cursor: pointer;
    padding: 8px;
    fill: var(--font-color-secondary);
}

.favorites-page
    > .favorites-header
    > .favorites-details
    > .actions
    > .secondary
    > .input_container
    > .search-clear:hover {
    fill: var(--font-color);
}

.favorites-page > .favorites-header > .favorites-details > .actions > .secondary > .input_container > .search-loading {
    position: absolute;
    left: 0;
    padding: 8px;
}

.favorites-page > .favorites-header > .favorites-details > .actions > .secondary > .input_container > .download-state {
    fill: var(--font-color-tertiary);
}

.favorites-page
    > .favorites-header
    > .favorites-details
    > .actions
    > .secondary
    > .input_container
    > .download-state
    > .icon.downloading.active-sync
    > svg
    path:last-child {
    clip-path: inset(100% 0 0 0);
    animation: syncColorSweepFavorites 1.6s linear infinite;
}

@keyframes syncColorSweepFavorites {
    0% {
        clip-path: inset(0 0 100% 0);
    }
    50% {
        clip-path: inset(0% 0 0 0);
    }
    100% {
        clip-path: inset(100% 0 0 0);
    }
}

.favorites-page > .favorites-header > .favorites-details > .actions > .secondary > .input_container > .more {
    cursor: pointer;
    padding: 7px;
    border-radius: 20px;
    background-color: var(--bg-color-secondary);
    transition: background-color 0.2s ease-out;
}

.favorites-page > .favorites-header > .favorites-details > .actions > .secondary > .input_container > .more:hover {
    background-color: var(--bg-color-tertiary);
}

.favorites-page > .favorites-header > .favorites-details > .actions > .secondary > .input_container > .more.active {
    background-color: var(--bg-color-tertiary);
}

.favorites-page > .favorites-header > .favorites-details > .actions > .secondary > .input_container > .more > svg {
    fill: var(--brand-color);
}

/* Responsive */
@media only screen and (max-width: 480px) {
    .favorites-page > .favorites-header > .favorites-details > .actions > .primary > .play-playlist {
        padding: 8px 16px;
        border-radius: 20px;
    }

    .favorites-page > .favorites-header > .favorites-details > .actions > .primary > .play-playlist > .play-icon {
        margin-right: unset;
    }

    .favorites-page > .favorites-header > .favorites-details > .actions > .primary > .play-playlist > .text {
        display: none;
    }
}

@media only screen and (max-width: 360px) {
    .favorites-page > .favorites-header {
        flex-direction: column;
        gap: 14px;
        margin-bottom: 18px;
    }

    .favorites-page > .favorites-header > .thumbnail {
        margin-right: 0;
    }

    .favorites-page > .favorites-header > .favorites-details {
        text-align: center;
    }

    .favorites-page > .favorites-header > .favorites-details > .stats {
        justify-content: center;
    }

    .favorites-page > .favorites-header > .favorites-details > .actions {
        justify-content: center;
    }
}
